use_flake_extra_watch() {
  watch_file devshell/*
  for f in devshell/*; do
    if [ "$f" -nt flake.nix ]; then
      # nix-direnv doesn't check the dates on other files, so give it a kick via flake.nix
      touch flake.nix
    fi
  done
}

use flake_extra_watch
use flake

# devshell needs the shellHook to run even when cached
# https://github.com/nix-community/nix-direnv/issues/109
eval "$shellHook"
